/* 
---01 TYPOGRAPHY SYSTEM
- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 
    / 24 / 32 / 48 / 64 / 80 / 96 / 128*/

    @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

      :root {
        --pry-pale-blue: hsl(225, 100%, 94%);
        --pry-bright-blue: hsl(245, 75%, 52%);
        --very-pale-blue: hsl(225, 100%, 98%);
        --desaturated-blue: hsl(224, 23%, 55%);
        --dark-blue: hsl(223, 47%, 23%);
          font-family: "Red Hat Display", sans-serif;
          font-size: 16px;
      }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pry-pale-blue);
}

.main-wrapper {
  display: flex;
  margin: auto;
  margin-top: 60px;
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 30px 20px #c4d0f6;
  overflow: hidden;
  
}

img {
  width: 100%;
}

.header {
  font-family: "red heart Display";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.content {
  padding: 32px;
}

.para {
  color: lightgrey;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--pry-pale-blue);
    border-radius: 10px;
}

h1 {
  font-family: "Red Hat Display";
  font-size: 20px;
  padding-top: 10px;
}

span {
  margin: 10px;
}

.link {
  padding-top: 20px;
}

.pro-btn {
  font-family: "Red Hat Display"; 
  font-size: 12px;
  background: var(--pry-bright-blue);
  border-radius: 10px;
  box-shadow: 0 30px 20px #c4d0f6;
  color: #FFFFFF;
  padding: 10px 10px 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.cancel-btn {
  font-family: "Red Hat Display";
  font-size: 12px;
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}


@media (max-width: 375px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }
  img {
    max-width: 100%;
    height: auto;
  }

}
